@media (max-width:1101px) and (min-width:1040px){
  .header-section{
    h1{
      font-size: 20px;
      font-weight: 700;
      padding-top: 8px;
    }
  }
}

@media (max-width:1040px) and (min-width:769px){
    .nav-header{
      p{
        font-size: 10px;
      }
    }
    .header-section{
      h1{
        font-size: 20px;
        font-weight: 700;
        padding-top: 8px;
      }
    }
}