@media (max-width:1148px) and (min-width:1000px){
  .header-section h1{
    font-size: 25px;
    font-weight: 600;
    padding-top: 8px;
    margin-bottom: 5px;
  }
  .nav-header{
    gap: 5px;
  }
}

@media (max-width:1000px) and (min-width:769px){
    
    .header-section h1{
      font-size: 18px;
      font-weight: 600;
      padding-top: 8px;
      margin-bottom: 5px;
    }
}
@media (max-width: 1000px) and (min-width: 768px) {
  .nav-header {
    gap: 0px; 
  }
  .header-section h1{
    display: none;
  }
}
@media (max-width: 801px) and (min-width: 768px) {
  .nav-header p{
    font-size: 15px;
  }
}