
.slick-dots li {
  background: none;
  padding-top: 2.4px;
  padding-left: 4.4px;
}
.logocard {
  height: 12rem; 
}

@media (max-width: 768px) {
  .logocard {
    height: 10rem; 
  }
}

@media (max-width: 640px) {
  .logocard {
    height: 8rem; 
  }
}
.slick-dots li {
  background: none;
  padding-top: 2.4px;
  padding-left: 4.4px;
}