@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edede9!important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Global Styles for Dots */
.dots-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #ffa500; /* Orange color */
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Active dot */
.dot.active {
  background-color: #ff5733; /* Change to a darker color when active */
  transform: scale(1.5); /* Scale the dot when active */
}

/* Dot hover animation */
.dot:hover {
  background-color: #ffcb00;
  transform: scale(1.2); /* Slightly enlarge on hover */
}

